<div class="modal fade" id="myModalEditar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Planificacion Producto</h4>
            </div>
            <div class="modal-body">
                <input id="IdPlanificacion" type="text" style="display: none;" />
                <div class="form-group">
                    <div class="col-sm-6">
                        <input id="NumeroPlanificacion" type="text" class="form-control" readonly>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-6"><label>Tipo</label><input id="Tipo" type="text" class="form-control" readonly></div>
                    <div class="col-sm-6"><label>Estado</label><input id="Estado" type="text" class="form-control" readonly></div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 col-sm-2 control-label">Fecha Inicio</label>
                    <div class="col-sm-10 datepicker">
                        <input id="FechaInicioEditar" type="text" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 col-sm-2 control-label">Fecha Fin</label>
                    <div class="col-sm-10 datepicker">
                        <input id="FechaFinEditar" type="text" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-6"><label>Laboratorio</label>@Html.DropDownList("Laboratorios", new SelectList(ViewBag.listaLaboratorios, "IdLaboratorio", "NombreLaboratorio"), new { @class = "form-control" })</div>
                    <div class="col-sm-6"><label>Especialista</label>@Html.DropDownList("Especialistas", new SelectList(ViewBag.listaEspecialistas, "IdEspecialista", "NombreEspecialista"), new { @class = "form-control" })</div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 col-sm-2 control-label">Sucursal - Almacén</label>
                    <div class="col-sm-10">
                        @Html.DropDownList("SucursalAlmacenesEditar", new SelectList(ViewBag.listaSucursalAlmacenes, "COD_SUCURSAL", "NOMBRE_SUCURSAL"), new { @class = "form-control", multiple = "multiple" })
                    </div>
                </div>
                <table id="dtDetallePlanificacion" class="display" width="100%">
                    <thead>
                        <tr>
                            <th>Codigo</th>
                            <th>Descripcion</th>
                            <th>Categoria</th>
                            <th>Marca</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                    <tfoot>
                        <tr>
                            <th>Codigo</th>
                            <th>Descripcion</th>
                            <th>Categoria</th>
                            <th>Marca</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar (Esc)</button>
                <button id="btnEditar" type="button" class="btn btn-primary">Grabar</button>
            </div>
        </div>
    </div>
</div>