<div class="modal fade" id="myModalHistorico" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Histórico Planificación</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <div class="col-sm-6">
                        <input id="FechaInicioBusqueda" type="text" class="form-control">
                    </div>
                    <div class="col-sm-6">
                        <button id="btnHistoricoBuscar" type="button" class="btn btn-primary">Buscar</button>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-6">
                        <input id="FechaFinBusqueda" type="text" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <table id="dtPlanificacionHistorico" class="display" width="100%">
                        <thead>
                            <tr>
                                <th>Número Plan</th>
                                <th>Producto</th>
                                <th>Fabricante</th>
                                <th>Categoria</th>
                                <th>FechaEjecucion</th>
                                <th>Estado</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                        <tfoot>
                            <tr>
                                <th>Número Plan</th>
                                <th>Producto</th>
                                <th>Fabricante</th>
                                <th>Categoria</th>
                                <th>FechaEjecucion</th>
                                <th>Estado</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar (Esc)</button>
            </div>
        </div>
    </div>
</div>
</div>