<aside>
    <div id="sidebar" class="nav-collapse ">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu" id="nav-accordion">

            <p class="centered"><a href="profile.html"><img src="~/assets/img/rsz_fotoramio.png" class="img-circle" width="60"></a></p>
            <h5 class="centered">Josué Porras Corzo</h5>

            <li class="mt">
                <a class="active" href="/Home/Index">
                    <i class="fa fa-dashboard"></i>
                    <span>Inicio</span>
                </a>
            </li>

            <li class="sub-menu">
                <a href="javascript:;">
                    <i class="fa fa-cogs"></i>
                    <span>Transacciones</span>
                </a>
                <ul class="sub">
                    @*<li><a href="/Planificacion/Index">Planificacion Producto</a></li>
                    <li><a href="/Ejecucion/Index">Ejecución de Resultados</a></li>*@
                    <li><a href="/Propuesta/Index">Propuesta de Planificación</a></li>
                    @*<li><a href="/Ruta/Index">Ruta de Plan de Calidad</a></li>*@
                    <li><a href="/QC/Index">Reporte Levey Jennings</a></li>
                    <li><a href="/Reporte/Index">Reporte Observaciones</a></li>
                </ul>
            </li>

        </ul>
        <!-- sidebar menu end-->
    </div>
</aside>