
@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Dashboard">
    <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">

    <title>DASHGUM - Bootstrap Admin Template</title>

    <style>
        .context-menu-abc {
            border: 1px solid gray;
            padding: 5px;
        }

        /* used for all items */
        .context-menu-item {
            min-height: 18px;
            background-repeat: no-repeat;
            background-position: 4px 4px;
        }
            /* all custom icons */
            .context-menu-item.context-menu-icon-edit {
                background-image: url("/assets/img/edit.png");
            }

            .context-menu-item.context-menu-icon-delete {
                background-image: url("/assets/img/delete.png");
            }
    </style>

    <!--LIBRERIAS HIGHCHARTS-->

    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/data.js"></script>
    <script src="https://code.highcharts.com/modules/series-label.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>

    <script src="https://www.highcharts.com/media/com_demo/js/highslide-full.min.js"></script>
    <script src="https://www.highcharts.com/media/com_demo/js/highslide.config.js" charset="utf-8"></script>
    <link rel="stylesheet" type="text/css" href="https://www.highcharts.com/media/com_demo/css/highslide.css" />

    <script type="text/javascript">

        $(function () {
            $("#Analizadores").on('change', function () {
                //alert('HOLA');
                $("#Pruebas").empty();
                    $.ajax({
                        type: 'POST',
                        url: '/QC/ListarPruebasxAnalizador',
                        dataType: 'json',
                        data: { IdEquipment: $("#Analizadores").val() },
                        success: function (data)
                        {
                            $.each(data, function (i, pru) {
                                $("#Pruebas").append('<option value="' + pru.IdPrueba + '">' + pru.NombrePrueba + '</option>');
                            });
                        },
                        error: function (ex)
                        {
                            alert('AHHHH ' + ex);
                        }
                    });
                    return false;
            });

            $("#btnGenerar").click(function () {

                var countPruebas = $("#Pruebas option").length;

                if (countPruebas == 0)
                {
                    sweetAlert("Oops...", "Por favor seleccionar una prueba", "error");
                    return false;
                }

                $.getJSON('/QC/obtenerLeveyJennings',
                    {
                        IdPrueba: $("#Pruebas").val() ,
                        IdEquipment: $("#Analizadores").val()
                    }, function (data) {

                    var resultados = data.lista.map(function (item) {
                        return parseFloat(item.Resultado);
                    });

                    var fechas = data.lista.map(function (item) {
                        return item.FechaResultado;
                        });


                        var limites = data.limites.map(function (item) {
                            return item;
                        });

                        var media = 0;
                        var dev = 0;

                        media = data.media;
                        dev = data.dev;

                        $("#media").html(media);
                        $("#dev").html(dev);

                        var chart = Highcharts.chart('chart1', {

                            //chart: {
                            //    scrollablePlotArea: {
                            //        minWidth: 700
                            //    }
                            //},

                            series: [
                                {
                                    name: $("#Pruebas option:selected").text(), data: resultados
                                }
                            ],
                            title: {
                                text: 'Gráfica de Levey Jennings'
                            },

                            subtitle: {
                                text: 'Resultados QC para ' + $("#Pruebas option:selected").text()
                            },

                            xAxis: {
                                categories: fechas
                            },

                            yAxis: {
                                labels:
                                    {
                                        align: 'left'
                                    },
                                tickPositions: limites,
                                min: 14.74,
                                max: 17.2
                        },
                        //yAxis: [{ // left y axis
                        //        title: {
                        //            text: null
                        //        },
                        //        labels: {
                        //            align: 'left',
                        //            x: 3,
                        //            y: 16,
                        //            format: '{value:.,0f}'
                        //        },
                        //        showFirstLabel: false
                        //    }
                        //],

                        //legend: {
                        //    align: 'left',
                        //    verticalAlign: 'top',
                        //    borderWidth: 0
                        //},

                        tooltip: {
                            shared: true,
                            crosshairs: true
                        },

                        //plotOptions: {
                        //    series: {
                        //        cursor: 'pointer',
                        //        point: {
                        //            events: {
                        //                click: function (e) {
                        //                    hs.htmlExpand(null, {
                        //                        pageOrigin: {
                        //                            x: e.pageX || e.clientX,
                        //                            y: e.pageY || e.clientY
                        //                        },
                        //                        headingText: this.series.name,
                        //                        maincontentText: Highcharts.dateFormat('%A, %b %e, %Y', this.x) + ':<br/> ' +
                        //                            this.y + ' sessions',
                        //                        width: 200
                        //                    });
                        //                }
                        //            }
                        //        },
                        //        marker: {
                        //            lineWidth: 1
                        //        }
                        //    }
                        //},

                    });

                        chart.reflow();
                        //chart.yAxis[0].setCategories(limites);
                    });

            });

        });
    </script>

</head>

<body>

    <section id="container">
        <!-- **********************************************************************************************************************************************************
        TOP BAR CONTENT & NOTIFICATIONS
        *********************************************************************************************************************************************************** -->
        <!--header start-->
        @Html.Partial("~/Views/Shared/Header.cshtml")
        <!--header end-->
        <!-- **********************************************************************************************************************************************************
        MAIN SIDEBAR MENU
        *********************************************************************************************************************************************************** -->
        <!--sidebar start-->
        @Html.Partial("~/Views/Shared/Menu.cshtml")
        <!--sidebar end-->
        <!-- **********************************************************************************************************************************************************
        MAIN CONTENT
        *********************************************************************************************************************************************************** -->
        <!--main content start-->
        <section id="main-content">
            <section class="wrapper">
                <h3><i class="fa fa-angle-right"></i>Generar Reporte Levey Jennings QC</h3>

                <!-- BASIC FORM ELELEMNTS -->
                <div class="row mt">
                    <div class="col-lg-12">
                        <div class="form-panel">
                            <h4 class="mb"><i class="fa fa-angle-right"></i> Quality Control</h4>
                            <form class="form-horizontal style-form" method="get">
                                <div class="form-group">
                                    <div class="col-sm-6">
                                        <label class="col-sm-2 col-sm-2 control-label">Analizador</label>
                                        @Html.DropDownList("Analizadores", new SelectList(ViewBag.listaAnalizadores, "IdEquipment", "DescripcionLaboratorio"), new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-6">
                                        <label>Prueba</label>
                                        @Html.DropDownList("Pruebas", new SelectList(String.Empty, "Value", "Text"), "--Seleccionar una prueba--", new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-10">
                                        <button id="btnGenerar" type="button" class="btn btn-theme" data-toggle="modal" data-target="#myModal">Generar Reporte</button>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-10">
                                        <label>Media: </label>
                                        <label id="media"></label>
                                    </div>
                                    <div class="col-sm-10">
                                        <label>Desviación Estándar: </label>
                                        <label id="dev"></label>
                                    </div>
                                </div>
                                <div class="chart-container" id="container" style="min-width: 310px; height: 400px; margin: 0 auto">
                                    <div id="chart1" class="chart"></div>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>

            </section>
        </section><!-- /MAIN CONTENT -->
        <!--main content end-->

    </section>
</body>
</html>